.animal-show {
  position: relative;
  border: 2px solid rgb(27, 164, 239);
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0px 3px 4px rgb(183, 207, 255);
  background-color: aliceblue;
}

.animal {
    height: 150px;
}

.heart {
    position: absolute;
    bottom: 10%;
    right: 10%;
}