.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 250px; 
    height: 250px; 
    flex: 0 0 10px; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
